html {
    background-color: peru;
}

.only_body {
    background-color: peru;
}

#header {
    background-color: black;
    color: antiquewhite;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border: solid 4px white;
}

.jumbotron {
    width: 80%;
    margin: auto;
    text-align: center;
    border: solid 4px black;
    margin-top: 1px;
}

.psychic_image {
    margin: auto;
    height: 300px;
    width: 275px;
    border: solid 4px white;
}
